@page
@model IndexModel

@{
    ViewBag.TitlePrefix = null;
    ViewBag.ActionName = "Index";
}

<div class="text-center">
    <h1 class="display-1">下载 WMS</h1>
    <h2 class="display-8">Pharm WMS 企业仓库管理系统是一款标准化、智能化过程导向管理的仓库管理软件。</h2>
    <div class="container pt-60 pb-60 accordion">
        <p class="alert alert-info"><span class="badge badge-dark">🎈</span>不确定要下载什么?<a href="/zh-cn/download">参阅实际项目对应的本地的EBR版本</a>。</p>
        

        @if (Model.Packages.Any())
        {
            <partial name="_PackageList" model="Model.Packages" />
        }
        else
        {
            <div class="alert alert-info">
                @SharedLocalizer["No Posts"]
            </div>
        }
    </div>
    <p class="mt-40">希望更好地了解 WMS 版本的支持策略? 请参阅 <a href="/zh-cn/platform/support/policy/dotnet-core#cadence">Azure DevOps 发布节奏</a>。</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@section scripts{
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
}
